/.idea
/.vagrant

/node_modules
/build/*.map

/cache
/tsd-cache
/test/tmp

/tscommand*
ignoreBaseDirFile.*
.tscache
.baseDir.ts
.baseDir.d.ts
.baseDir.js
.baseDir.js.map

/*.tgz
tmp/
dump/
.baseDir.ts

_tmp.*

npm-debug.log
