/.idea
/.vagrant

/node_modules
/test/tmp
.tscache

/*.tgz
tmp/

.baseDir.ts
.baseDir.d.ts
.baseDir.js
.baseDir.js.map

npm-debug.log

src/**/*.js
src/**/*.js.map
src/**/*.d.ts
test/**/*.js
test/**/*.js.map
test/**/*.d.ts
