/.idea

test/
typings/
repo/

tsd.json
tslint.json
Gruntfile.js

.npmignore
.gitignore
.gitmodules

# for https://github.com/Microsoft/TypeScript/issues/4667
src/**/*.ts
!src/**/*.d.ts

.travis.yml
.editorconfig

.tscache/
node_modules/
npm-shrinkwrap.json

/*.tgz
/*.txt
